<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <main>
        <div class="title">
            <h1><%= resources.length %> search results</h1>
        </div>

        <%- include('partials/resources') %>
    </main>
</body>

</hmtl>