.col-md-4 {
    margin-top: 27px;
}

.card {
    background-color: azure;
}

.card:hover {
    scale: 1.05 1.05;
    transition: 1s;
}

main {
    width: 60%;
    margin: 5em auto;
}

main>div>h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}

main>div>h2 {
    font-size: 1em;
    text-align: right;
}

.title {
    padding-bottom: 2em;
    border-bottom: 3px solid black;
    margin-bottom: 3em;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
}

.resource-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}

.resource-data {
    font-size: 0.6em;
}

.resource-desc {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8;
}